webservices/sablon.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://portal.myk.gov.tr" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://portal.myk.gov.tr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

	
	<wsdl:message name="getBelgeBilgileriSoapIn">
		<wsdl:part name="kurumKodu" type="s:string"/>
		<wsdl:part name="kullaniciKodu" type="s:string"/>
		<wsdl:part name="sifre" type="s:string"/>
		<wsdl:part name="tcKimlikNo" type="s:string"/>
		<wsdl:part name="meslekKodu" type="s:string"/>
	</wsdl:message>
	<wsdl:message name="getBelgeBilgileriSoapOut">	
		<wsdl:part name="hataKodu" type="s:string"/>
		<wsdl:part name="sonucMesaji" type="s:string"/>
		<wsdl:part name="tcKimlikNo" type="s:string"/>
		<wsdl:part name="meslekKodu" type="s:string"/>
		<wsdl:part name="meslekKoduEk" type="s:string"/>
		<wsdl:part name="belgenin_Alindigi_Kurum_Adi" type="s:string"/>
		<wsdl:part name="belgeNo" type="s:string"/>
		<wsdl:part name="belgeVerilmeTarihi" type="s:string"/>
		<wsdl:part name="belgeBitisTarihi" type="s:string"/>
	</wsdl:message>
	
	<wsdl:message name="TumListeSoapIn">		
	</wsdl:message>
	<wsdl:message name="TumListeSoapOut">	
		<wsdl:part name="liste" type="s:object"/>
	</wsdl:message>
	
	<wsdl:portType name="MYK_WSSoap">
		<wsdl:operation name="getBelgeBilgileri">
			<wsdl:input message="tns:getBelgeBilgileriSoapIn"/>
			<wsdl:output message="tns:getBelgeBilgileriSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="TumListe">
			<wsdl:input message="tns:TumListeSoapIn"/>
			<wsdl:output message="tns:TumListeSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="MYK_WSSoap" type="tns:MYK_WSSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
			<wsdl:operation name="getBelgeBilgileri">
				<soap:operation soapAction="http://tempuri.org/getBelgeBilgileri" style="document"/>
				<wsdl:input><soap:body use="literal"/>
				</wsdl:input>
				<wsdl:output>
					<soap:body use="literal"/>
				</wsdl:output>
			</wsdl:operation>
			<wsdl:operation name="TumListe">
				<soap:operation soapAction="http://tempuri.org/TumListe" style="document"/>
				<wsdl:input><soap:body use="literal"/>
				</wsdl:input>
				<wsdl:output>
					<soap:body use="literal"/>
				</wsdl:output>
			</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="BelgeVeriler">
		<wsdl:port name="MYK_WSSoap" binding="tns:MYK_WSSoap">
			<soap:address location="http://portal.myk.gov.tr/webservices/sgk.php"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>